
                /* ---Header 시작--- */
        .navbar-nav {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-around;
            align-items: stretch;
            padding: 15px;
        }

        li {
            list-style-type: none;
            line-height: 50%; /*텍스트 위 아래 중앙 정렬*/
            text-align: center; /* 텍스트 가운데 정렬 */
        }

        header li button {
            height: 140px;
            width: 250px;
            background-color: transparent;
            border: none;
            font-size: 25px;
        }

        #btn_nothing1 {
            width: 5vw;
        }

        #btn_Main {
            width: 12vw;
            height: 11vh;
            background-image: url("/static/img/logo.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        header {
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
        }

        #btn_Howto {
            width: auto;
            min-width: 12vw;
        }

        #btn_menuTimer {
            width: auto;
            min-width: 12vw;
        }

        #btn_Login {
            width: auto;
            min-width: 12vw;
        }

        #btn_nothing3 {
            width: 170px;
            text-align: right;
            font-size: smaller;
            line-height: 1%;
        }

        hr {
            color: #924CF9;
            width: 90%;
            align: center;
            margin-left: 4.5%;
        }
            /* ---Header 종료--- */