<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <title>CYCL</title>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/menubar.css">


    <style>

        /* ---Header 시작--- */
        .navbar-nav {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-around;
            align-items: stretch;
            padding: 15px;
        }

        li {
            list-style-type: none;
            line-height: 50%; /*텍스트 위 아래 중앙 정렬*/
            text-align: center; /* 텍스트 가운데 정렬 */
        }

        li button {
            height: 140px;
            width: 250px;
            background-color: transparent;
            border: none;
            font-size: 25px;
        }

        #btn_nothing1 {
            width: 5vw;
        }

        #btn_Main {
            width: 12vw;
            height: 11vh;
            background-image: url("/static/img/logo.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        header {
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
        }

        #btn_Howto {
            width: auto;
            font-family: 'Do Hyeon', sans-serif;
        }

        #btn_menuTimer {
            width: auto;
            font-family: 'Do Hyeon', sans-serif;
        }

        #btn_Login {
            width: auto;
            font-family: 'Do Hyeon', sans-serif;
        }

        #btn_nothing3 {
            width: 170px;
        }

        /* ---Header 종료--- */

        #btn_timer_Main {
            width: 100%;
            height: 739px;
            margin-top: 20px;
            background-image: url("/static/img/timerBackground.png");
            background-size: cover;
            background-position: center;
            overflow: scroll;

        }


        .btn {
            background-color: transparent;
            border: none;
        }


        #boxWrap button + button {
            margin-left: 130px;
            margin-bottom: 300px;
        }


        #boxWrap .hover_Box {
            float: left; /* 사진이나 그림 띄우기 */
            width: 300px;
            height: 300px;
            margin-left: 250px;
            margin-top: -200px;
            border-style: dashed;
            border-radius: 10px;
            border-width: initial;
            background-color: #cbcbcb;
            border-color: #bcbcbc;
        }

        #add_Button {
            display: flex; /* 사진이나 그림 띄우기 */
            margin-left: 1700px;
            margin-top: 100px;
        }


        #del_button {
            display: flex;
            margin-left: 1700px;
        }

        #modal fade .exampleModal{
            display: none;
        }


    </style>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btn_Main").click(function () {
                $.ajax({
                    url: "/",
                    success: function (data) {
                        $("mainPage").html(data);
                    }
                })
            })
        })
        $(document).ready(function () {
            $("#btn_menuTimer").click(function () {
                $.ajax({
                    url: "/item",
                    success: function (data) {
                        $("itemPage").html(data);
                    }
                })
            })
        })
        $(document).ready(function () {
            $("#btn_Login").click(function () {
                $.ajax({
                    url: "/login",
                    success: function (data) {
                        $("loginPage").html(data);
                    }
                })
            })
        })
    </script>
    <script type="text/javascript">
        // 페이지가 새로 리로드 될때만 실행
        let top_space = 0;
        if ($("header").length) {
            top_space = $('header').outerHeight();
        }  //해더에 바가 있는 경우 오프셋 하는 경우 필요
        let hash = window.location.hash;
        if (hash && document.getElementById(hash.slice(1))) { // #값이 있을때만 실행됨
            let $this = $(hash);
            $('html, body').animate({
                scrollTop: $this.offset().top - top_space
            }, 1000, 'easeInOutExpo', function () {
                window.history.pushState ? window.history.pushState(null, null, hash) : window.location.hash = hash;
            });
        }

        $('.main-nav a, .mobile-nav a, .scrollto').on('click', function () {
            if (location.pathname.replace(/^\//, '') === this.pathname.replace(/^\//, '') && location.hostname === this.hostname) {
                let target = $(this.hash);
                if (target.length) {

                    $('html, body').animate({
                        scrollTop: target.offset().top - top_space
                    }, 0); //숫자는 스크롤 되는 시간

                    return false;
                }
            }
        });
    </script> <!--이용방법으로 자동 이동-->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script>

        function midd(item) {
            $('#middle').empty();
            $.ajax({
                type: "GET",
                url: "/item/modalList",
                data: {},
                success: function (response) {
                    let list = response["item_lists"];
                    let item_img;
                    let item_name;
                    let item_timer;
                    let item_option;
                    for (let i = 0; i < list.length; i++) {
                        if (item == list[i]['item_name']) {
                            item_img = list[i]['item_img'];
                            item_name = list[i]['item_name'];
                            item_timer = list[i]['item_timer'];
                            item_option = list[i]['item_place'];
                            let temp_html = `<a><img src = ${item_img}> <br>    ${item_name} | ${item_timer} | ${item_option} | </a>
                                            <br><a>날짜를 입력해주세요 : <input type = "date"></a>`
                            $('#middle').append(temp_html);
                        }
                    }
                }
            })
        }

        function basi(str) {
            if (str == "부엌") {
                $('#basic').empty();
                $.ajax({
                    type: "GET",
                    url: "/item/modalList",
                    data: {},
                    success: function (response) {
                        let list = (response)["item_lists"]
                        for (let i = 0; i < list.length; i++) {
                            let place = list[i]['item_place'];
                            if (place == "부엌") {
                                let gu_name = list[i]['item_name'];

                                let temp_html = `<li><button class="dropdown-item" id = "${gu_name}" onclick = "midd(this.id)">${gu_name}</button></li>`
                                $('#basic').append(temp_html)

                            }
                        }
                    }
                })
            } else if (str == "침실") {
                $('#basic').empty();
                $.ajax({
                    type: "GET",
                    url: "/item/modalList",
                    data: {},
                    success: function (response) {
                        let list = (response)["item_lists"]
                        for (let i = 0; i < list.length; i++) {
                            let place = list[i]['item_place'];
                            if (place == "침실") {
                                let gu_name = list[i]['item_name'];
                                let temp_html = `<li><button class="dropdown-item"id = "${gu_name}" onclick = "midd(this.id)">${gu_name}</button></li>`
                                $('#basic').append(temp_html)

                            }
                        }
                    }
                })
            } else if (str == "화장실") {
                $('#basic').empty();
                $.ajax({
                    type: "GET",
                    url: "/item/modalList",
                    data: {},
                    success: function (response) {
                        let list = (response)["item_lists"]
                        for (let i = 0; i < list.length; i++) {
                            let place = list[i]['item_place'];
                            if (place == "화장실") {
                                let gu_name = list[i]['item_name'];
                                let temp_html = `<li><button class="dropdown-item"id = "${gu_name}" onclick = "midd(this.id)">${gu_name}</button></li>`
                                $('#basic').append(temp_html)

                            }
                        }
                    }
                })
            }
            if (str == "choose") {
                $('#basic').empty();
                $.ajax({
                    type: "GET",
                    url: "/item/modalList",
                    data: {},
                    success: function (response) {
                        let list = (response)["item_lists"]
                        for (let i = 0; i < list.length; i++) {
                            let gu_name = list[i]['item_name'];
                            let temp_html = `<li><button class="dropdown-item" id = "${gu_name}" onclick = "midd(this.id)">${gu_name}</button></li>`
                            $('#basic').append(temp_html)
                        }
                    }
                })
            }
        }

        $(document).ready(function () {
            $("#btn_Main").click(function () {
                $.ajax({
                    url: "/item/Place",
                    data: {},
                    success: function (data) {
                        let rows = response['doc']
                        console.log(rows)
                    }
                })
            })
        })
        $(document).ready(function () {
            $("#btn_menuTimer").click(function () {
                $.ajax({
                    url: "/item",
                    success: function (data) {
                        $("itemPage").html(data);
                    }
                })
            })
        })
        $(document).ready(function () {
            $("#btn_Login").click(function () {
                $.ajax({

                    success: function (data) {
                        $("loginPage").html(data);
                    }
                })
            })
        })
    </script>


    <script>
        function placeList() {
            $('#item_place_List').empty()

            let Place_List = request.get(url)
            $.ajax({
                type: "GET",
                url: "/item/Place",
                data: {'item_place_List': Place_List},
                success: function (response) {
                    let list = JSON.parse(response)
                    console.log(response)
                    for (let i = 0; i < list.length; i++) {
                        let place = list[i]['item_place'];
                        let temp_html = `
                                         <table>
                                                <li>${place}</li>
                                         </table>
                                           `
                        $('#item_place_List').append(temp_html)
                    }
                    console.log(response)
                },
                error: function () {
                    alert("POST 실패")
                }
            })
        }
    </script>

</head>

<body>
<header>
    <ul class="navbar-nav">
        <li>
            <button id="btn_nothing1"></button>
        </li>
        <li>
            <button class="main-menu" id="btn_Main" onclick="location. href='/'"></button>
        </li>
        <li>
            <button id="btn_nothing1"></button>
        </li>
        <li>
            <button class="menu" id="btn_Howto" onclick="location. href='/#'">
                이용방법
            </button>
        </li>
        <li>
            <button id="btn_nothing1"></button>
        </li>
        <li>
            <button class="menu" id="btn_menuTimer" onclick="location. href='/item'">생활용품 기간 설정</button>
        </li>
        <li>
            <button id="btn_nothing1"></button>
        </li>
        <li>
            <button class="menu" id="btn_Login" onclick="location. href='/login'">로그인</button>
        </li>
        <li>
            <button id="btn_nothing3"></button>
        </li>
    </ul>
</header>

<div id="btn_timer_Main">
    <button class="btn" id="add_Button" onclick="plus()"><img src="/static/img/timerButton2.png"></button>


    <div id="delete_button">
        <button class="btn" id="del_button" onclick="minus()"><img src="/static/img/timerButton3.png"></button>
    </div>

    <div id="boxWrap">
        <button class="hover_Box" id="open_modal" onclick="modalOn()"><img src="/static/img/timerButton.png"></button>
    </div>

</div>

<script type="text/javascript" src="https://unpkg.com/@popperjs/core@2"></script>

</button>
{#   모달 창  #}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="item_place_List">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                           id="dropdownMenuLink"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            장소 선택하기
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li></li>
                            <li>
                                <button class="dropdown-item" onclick="basi('choose')">장소선택하기</button>
                            </li>
                            <li>
                                <button class="dropdown-item" onclick="basi('부엌')">부엌</button>
                            </li>
                            <li>
                                <button class="dropdown-item" onclick="basi('침실')">침실</button>
                            </li>
                            <li>
                                <button class="dropdown-item" onclick="basi('화장실')">화장실</button>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                           id="dropdownMenuLink"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            dropdown-link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="품명">
                            <table id="basic">

                            </table>
                        </ul>
                    </div>
                </h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul id="middle">

                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="postdata()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<button onclick="location.href='https://unpkg.com/@popperjs/core@2'">olfd</button>

<script>

    let maxAppend = 1;

    function plus() {
        $("#boxWrap").append("<button onclick='modalOn()' class='hover_Box'><img src='/static/img/timerButton.png'></button>");
        maxAppend++;

    }

    function minus() {
        $("button").last().remove();
        alert("삭제되었습니다.")
    }

    document.getElementById("open_modal").addEventListener("click", modalOn);

    const modal = document.getElementById("exampleModal")

    function modalOn() {
        modal.style.display =
    }


</script>


</body>
</html>