<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <title>Main</title>


    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/menubar.css">
    <style>
        * {
            font-family: 'Do Hyeon', sans-serif;
        }

        body {
            margin: 0;
            padding: 0;
        }

        main {
            margin: 0;
            padding: 0;
        }

        .modal-content .modal-header:nth-child(2) {
            margin-left: 100px;
        }
        .modal-header .btn-close {
            margin : 0px;
        }

    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btn_Main").click(function () {
                $.ajax({
                    url: "/",
                    success: function (data) {
                        $("mainPage").html(data);
                    }
                })
            })
        })
        $(document).ready(function () {
            $("#btn_menuTimer").click(function () {
                $.ajax({
                    url: "/item",
                    success: function (data) {
                        $("itemPage").html(data);
                    }
                })
            })
        })
        $(document).ready(function () {
            $("#btn_Login").click(function () {
                $.ajax({
                    url: "/login",
                    success: function (data) {
                        $("loginPage").html(data);
                    }
                })
            })
        })
    </script>
    <script type="text/javascript">
        // 페이지가 새로 리로드 될때만 실행
        let top_space = 0;
        if ($("header").length) {
            top_space = $('header').outerHeight();
        }  //해더에 바가 있는 경우 오프셋 하는 경우 필요
        let hash = window.location.hash;
        if (hash && document.getElementById(hash.slice(1))) { // #값이 있을때만 실행됨
            let $this = $(hash);
            $('html, body').animate({
                scrollTop: $this.offset().top - top_space
            }, 1000, 'easeInOutExpo', function () {
                window.history.pushState ? window.history.pushState(null, null, hash) : window.location.hash = hash;
            });
        }

        $('.main-nav a, .mobile-nav a, .scrollto').on('click', function () {
            if (location.pathname.replace(/^\//, '') === this.pathname.replace(/^\//, '') && location.hostname === this.hostname) {
                let target = $(this.hash);
                if (target.length) {

                    $('html, body').animate({
                        scrollTop: target.offset().top - top_space
                    }, 0); //숫자는 스크롤 되는 시간

                    return false;
                }
            }
        });
    </script> <!--이용방법으로 자동 이동-->
    <script>
        function placeList() {
            $('#item_place_List').empty()

            let Place_List = event.target.value
            $.ajax({
                type: "POST",
                url: "/item/Place",
                data: {'item_place_List':Place_List},
                success: function (response) {
                    let list = JSON.parse(response)
                    console.log(response)
                    for (let i = 0; i < list.length; i++) {
                        let place = list[i]['item_place'];
                        let temp_html = `<li>${place}</li>`
                        $('#item_place_List').append(temp_html)
                    }
                    console.log(response)
                },
                error : function () {
                    alert("POST 실패")
                }
            })
        }
    </script>

</head>

<body>

<header>
    <ul class="navbar-nav">
        <li>
            <button id="btn_nothing1"></button>
        </li>
        <li>
            <button class="main-menu" id="btn_Main" onclick="location. href='/'"></button>
        </li>
        <li>
            <button id="btn_nothing1"></button>
        </li>
        <li>
            <button class="menu" id="btn_Howto" onclick="$('html, body').stop().animate({scrollTop : '1270'},700);">
                이용방법
            </button>
        </li>
        <li>
            <button id="btn_nothing1"></button>
        </li>
        <li>
            <button class="menu" id="btn_menuTimer" onclick="location. href='/item'">생활용품 기간 설정</button>
        </li>
        <li>
            <button id="btn_nothing1"></button>
        </li>
        <li>
            <button class="menu" id="btn_Login" onclick="location. href='/login'">로그인</button>
        </li>
        <li>
            <button id="btn_nothing3"></button>
        </li>
    </ul>
</header>

<hr>


<main>
    <button type=submit value='노원구' name=region class="detailgu" id="nowon-gu" onclick="placeList(this)">노원구
</button>

    <script type="text/javascript" src="https://unpkg.com/@popperjs/core@2"></script>
    {#   모달 시작 버튼  #}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>
    {#   모달 창  #}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="item_place_List">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-bs-toggle="dropdown" name="Place_List" aria-expanded="false" onclick="placeList(this)">
                                장소 선택하기
                            </a>
                            <button id="dropdownMenuLink" type="submit" value="장소 선택하기" name="Place_list" role="button" class="btn btn-secondary dropdown-toggle" onclick="placeList(this)" href="#">장소 선택하기</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </h5>
                    <h5 class="modal-title" id="exampleModalLabel">
                        <div class="dropdown" >
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown link
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</main>
<div style="position: fixed; bottom: 5px; right: 5px;">
    <a onclick="$('html, body').stop().animate({scrollTop : '0'},200);">위로 가기</a>
</div>
</body>
</html>