<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if login == True %}
    <h3>로그인에 성공했습니다. {{ username }}님 어서오세요!</h3>
    <a href= {{ url_for("logout") }}>로그아웃</a>

{% else %}
    <form methods="get" id="login" action= {{ url_for("login") }}>
        <input type="id" id="loginId" name="loginId" placeholder="ID">
        <input type="password" id="loginPw" name="loginPw" placeholder="Password">
        <button type="submit" class="login">로그인</button>
    </form>
{% endif %}
</body>
</html>