<!--
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{ messages[-1] }}")
        </script>
    {% endif %}
{% endwith %} !-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
    <title>회원가입페이지</title>


</head>

<style>
    .wrap {
        width: 1000px;
        margin: auto;
    }
</style>
<body>

{% if login == True %}
    <h3>로그인에 성공했습니다. {{ username }}님 어서오세요!</h3>
    <a href= {{ url_for("logout") }}>로그아웃</a>
{% else %}
    <div class="wrap" methods="POST" id="signUp" action= {{ url_for("signUpCheck") }}>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">ID</span>
        </div>
        <input type="text" class="form-control" placeholder="사용자 ID를 입력하세요" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>

        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Password</span>
        </div>
        <input type="text" class="form-control" placeholder="사용자 비밀번호를 입력하세요" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Password Check</span>
        </div>
        <input type="text" class="form-control" placeholder="비밀번호를 한번 더 입력하세요" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Name</span>
        </div>
        <input type="text" class="form-control" placeholder="성함을 입력하세요" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Email</span>
        </div>
        <input type="text" class="form-control" placeholder="사용자 이메일을 입력하세요" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>

    <button type="button" id="signUp" class="btn btn-primary">Submit</button>
</div>
{% endif %}

</body>
</html>