<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
    .main02 {
            display: grid;
            grid-template-columns: 53.5% 12% 1fr;.
            grid-height
            /*grid-template-rows: 53.5% 12% 44.5%);*/
            grid-template-areas:
        "first second third"
        "fourth fifth sixth"
        "seventh eighth ninth";
        }
        .first-item {
            grid-area: first;
        }
        .second-item {
            grid-area: second;
        }
        .third-item {
            grid-area: third;
        }
        .fourth-item {
            grid-area: fourth;
        }
        .fifth-item {
            grid-area: fifth;
        }
        .sixth-item {
            grid-area: sixth;
        }
        .seventh-item {
            grid-area: seven;
        }
        .eighth-item {
            grid-area: eight;
        }
        .ninth-item {
            grid-area: ninth;
        }
    </script>
</head>
<body>
<div class="first-item">111</div>
                <div class="second-item">2222</div>
                <div class="third-item">3333</div>
                <div class="fourth-item">4444</div>
                <div class="fifth-item">5555</div>
                <div class="sixth-item">6666</div>
                <div class="seventh-item">7777</div>
                <div class="eighth-item">8888</div>
                <div class="ninth-item">99999</div>
</body>
</html>