<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100&family=Stylish&display=swap" rel="stylesheet">
    <style>
    /*    * {*/
    /*        font-family: 'Do Hyeon', sans-serif;*/

    /*    }*/
    /*html{*/
    /*        scroll-behavior: smooth;*/
    /*    }*/
    /*    .box {*/
    /*        width: 100%;*/
    /*        height: 1360px;*/
    /*        margin: auto;*/
    /*        text-align: center;*/
    /*    }*/
    /*    .bgimg {*/
    /*        width: 100%;*/
    /*        height: 100vh;*/
    /*        background-size: cover;*/
    /*        background-position : center;*/
    /*        padding: 0;*/
    /*    }*/
    /*    .navbar-nav {*/
    /*        display: flex; !* display : inline-flex; *!*/
    /*        flex-wrap: nowrap;*/
    /*        flex-direction: row;*/
    /*        justify-content: space-around;*/
    /*        align-items: stretch;*/
    /*        padding: 15px;*/
    /*    }*/
    /*    li{*/
    /*        list-style-type: none;*/
    /*        line-height: 50%; !*텍스트 위 아래 중앙 정렬*!*/
    /*        text-align: center; !* 텍스트 가운데 정렬 *!*/
    /*    }*/
    /*    li button {*/
    /*        height: 140px;*/
    /*        width: 250px;*/
    /*        background-color: transparent;*/
    /*        border: none;*/
    /*        font-size: 25px;*/
    /*    }*/
    /*    #btn_nothing1{*/
    /*        width: 115px;*/
    /*    }*/
    /*    #btn_Main {*/
    /*        width: 343px;*/
    /*    }*/
    /*    #btn_nothing2 {*/
    /*        width: 100px;*/
    /*    }*/
    /*    header {*/
    /*        !*position: fixed;*!*/
    /*        top:0;*/
    /*        left: 0;*/
    /*        right: 0;*/
    /*    }*/
    /*    #btn_Howto {*/
    /*        width: auto;*/
    /*    }*/
    /*    #btn_menuTimer {*/
    /*        width: auto;*/
    /*    }*/
    /*    #btn_menuCommu {*/
    /*        width: auto;*/
    /*    }*/
    /*    #btn_Login {*/
    /*        width: auto;*/
    /*    }*/
    /*    #btn_nothing3 {*/
    /*        width: 70px;*/
    /*    }*/

    /*    .flex-container {*/
    /*        display: flex;*/
    /*        width: 100%;*/
    /*        !*justify-content: center;*!*/
    /*        align-items: center;*/
    /*        min-height: 105vh;*/
    /*    }*/
    /*    .flex-firstcolumn {*/
    /*            flex-basis: 53.5%;*/
    /*            display: flex;*/
    /*            flex-direction: column;*/
    /*            background-color: blue;*/
    /*        }*/

    /*        .flex-secondcolumn {*/
    /*            flex-basis: auto;*/
    /*            display: flex;*/
    /*            flex-direction: column;*/
    /*            background-color: transparent;*/
    /*            text-align: left;*/
    /*            font-size:35px;*/
    /*        }*/
    /*        .flex-thirdcolumn {*/
    /*            flex-basis: 30%;*/
    /*            display: flex;*/
    /*            flex-direction: column;*/
    /*            background-color: transparent;*/
    /*        }*/
    .email {
        display : inline
    }

    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

</head>

<body>

<div class="email">
    <div>
        <img src="/static/person.png" width="25" , height="25" :>
        <input type="text" width="25" , height="25" : placeholder="이메일">
    </div>
    <div>
        <img src="photo/lock.png" width="25" , height="25" :>
        <input type="password" placeholder="비밀번호">
    </div>
</div>


<!--    <div class = "box">-->
<!--        <div class="bgimg" style="background-image: url('/image/main_01.png')">-->
<!--            <header>-->
<!--                <ul class="navbar-nav">-->
<!--                    <li>-->
<!--                        <button id="btn_nothing1"></button>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <button class="main-menu" id="btn_Main" onclick="location.href='main.html'"></button>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <button id="btn_nothing2"></button>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <button class="menu" id="btn_Howto" onclick="$('html, body').stop().animate({scrollTop : '1365'});">이용방법</button>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <button class="menu" id="btn_menuTimer" onclick="location. href='/timer.html'">생활용품 기간 설정</button>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <button class="menu" id="btn_Login" onclick="location. href=''">로그인</button>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <button id="btn_nothing3"></button>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </header>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class = "box">-->
<!--        <div class="bgimg" style="background-image: url('/image/main_02.png')">-->
<!--            <div class = "flex-container">-->
<!--                <div class="flex-firstcolumn"></div>-->
<!--                <div class="flex-secondcolumn" onclick="$('html, body').stop().animate({scrollTop : '0'});">>>바로가기</div>-->
<!--                <div class="flex-thirdcolumn"></div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->

</body>
</html>