<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lazytitle</title>
    <style>
        .box{
            width : 80%;
            height : 1000px;
            margin : auto;

            background-color : red;
        }
        #btn_title{
            font-size : 30px;
            margin : 0px 0px 0px 20px;
        }
    </style>
</head>
<body>
    <div class = "box">
        <p id = "btn_title">btn_title</p>
        <p>a_description</p>
    </div>
</body>
</html>